<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="rowGallery no-gutter" ng-repeat="item in filteredCandyBox" ng-show="item.visible">
            <div class="col-lg-4 col-sm-6">
                <div id="dialogContainer" ng-controller="CandyBoxCtrl as ctrl" layout="row" ng-cloak>
                    <md-content>
                        <md-button class="md-primary md-raised" ng-click="showCustom($event)">
                            <div class="portfolio-box">
                                <img ng-src={{item.photo}} class="img-responsive" alt="Candy Box Gift" show-on-load >
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-category text-faded">
                                            {{item.itemName}}
                                        </div>
                                        <div class="project-name">
                                            {{item.category}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </md-button>
                    </md-content>
                </div>
            </div>
        </div>
    </div>
    <pager total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage"
           ng-change="pageChanged()"></pager>
</section>